absl-py==1.4.0
affine==2.4.0
aiofiles==24.1.0
alabaster==0.7.13
alembic==1.15.2
altair==5.4.1
annotated-types==0.7.0
anyio==4.2.0
appdirs==1.4.4
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asciitree==0.3.3
asttokens==2.2.1
astunparse==1.6.3
async-lru==2.0.4
async-timeout==4.0.2
attrs==24.2.0
Babel==2.12.1
backcall==0.2.0
beautifulsoup4==4.12.2
bleach==6.1.0
blinker==1.9.0
blis==1.0.1
bs4==0.0.1
cachetools==5.3.0
catalogue==2.0.10
cattrs==24.1.0
certifi==2024.6.2
chardet==5.2.0
charset-normalizer==2.1.1
click==8.1.3
click-plugins==1.1.1
cligj==0.7.2
cloudpathlib==0.20.0
cloudpickle==3.0.0
colorama==0.4.6
comm==0.2.1
confection==0.1.5
contourpy==1.0.7
ctk-cli==1.5
cvxopt==1.3.2
cvzone==1.5.6
cycler==0.11.0
cymem==2.0.8
Cython==0.29.37
dacite==1.8.1
dask==2024.8.1
dask-expr==1.1.11
databricks-sdk==0.53.0
dataclasses-json==0.6.7
datasets==3.0.2
debugpy==1.8.0
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.18
dicomweb-client==0.59.1
diskcache==5.6.3
distlib==0.3.9
distributed==2024.8.1
distro==1.9.0
dm-tree==0.1.8
docker==7.1.0
docutils==0.20.1
entrypoints==0.4
etils==1.1.1
exceptiongroup==1.2.0
executing==1.2.0
fastapi==0.115.12
fasteners==0.19
fastjsonschema==2.19.1
ffmpy==0.6.0
filelock==3.16.1
fonttools==4.39.3
fqdn==1.5.1
frozenlist==1.3.3
fsspec==2024.6.1
future==0.18.3
gast==0.4.0
gensim==4.3.3
geographiclib==2.0
geopy==2.4.1
girder-client==3.2.3
girder-slicer-cli-web==1.5.8
gitdb==4.0.11
GitPython==3.1.43
google-pasta==0.2.0
googleapis-common-protos==1.59.0
gradio==5.34.2
gradio_client==1.10.3
graphene==3.4.3
graphql-core==3.2.6
graphql-relay==3.2.0
greenlet==3.0.3
groovy==0.1.2
grpcio==1.51.3
gspread==5.9.0
h11==0.14.0
hdbscan==0.8.33
histomicstk==1.3.11
html5lib==1.1
htmlmin==0.1.12
httpcore==1.0.5
httplib2==0.22.0
httpx==0.27.2
idna==3.3
igraph==0.11.5
imagecodecs==2024.6.1
imagecodecs-numcodecs==2024.6.1
ImageHash==4.3.1
imageio==2.34.0
imagesize==1.4.1
imblearn==0.0
importlib-resources==5.12.0
importlib_metadata==7.1.0
ipykernel==6.29.0
ipython==8.13.2
ipywidgets==8.1.5
isoduration==20.11.0
itsdangerous==2.2.0
jax==0.4.6
jedi==0.18.2
Jinja2==3.1.2
jiter==0.5.0
joblib==1.5.1
json5==0.9.14
jsonpatch==1.33
jsonpointer==2.4
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
jupyter-events==0.9.0
jupyter-lsp==2.2.2
jupyter_client==7.4.9
jupyter_core==5.7.1
jupyter_server==2.12.5
jupyter_server_terminals==0.5.2
jupyterlab==4.0.12
jupyterlab_pygments==0.3.0
jupyterlab_server==2.25.2
jupyterlab_widgets==3.0.13
kiwisolver==1.4.4
langcodes==3.4.1
language_data==1.2.0
large-image==1.29.6
large-image-source-deepzoom==1.29.6
large-image-source-dicom==1.29.6
large-image-source-multi==1.29.6
large-image-source-nd2==1.29.6
large-image-source-pil==1.29.6
large-image-source-rasterio==1.29.6
large-image-source-test==1.29.6
large-image-source-tifffile==1.29.6
large-image-source-zarr==1.29.6
lazy_loader==0.4
libclang==16.0.0
lightning-utilities==0.7.1
llvmlite==0.42.0
locket==1.0.0
lsprotocol==2023.0.1
lxml==5.2.1
Mako==1.3.10
marisa-trie==1.2.1
Markdown==3.4.3
markdown-it-py==2.2.0
MarkupSafe==2.1.2
marshmallow==3.22.0
matplotlib==3.9.2
matplotlib-inline==0.1.7
mdurl==0.1.2
mediapipe==0.10.0
mistune==3.0.2
morecantile==5.4.1
mpmath==1.3.0
msgpack==1.0.8
multidict==6.0.4
multimethod==1.12
multiprocess==0.70.16
murmurhash==1.0.10
mypy-extensions==1.0.0
narwhals==1.8.4
nbclient==0.9.0
nbconvert==7.16.0
nbformat==5.9.2
nd2==0.10.1
nest-asyncio==1.6.0
networkx==3.1
nibabel==5.2.1
nimfa==1.4.0
nltk==3.8.1
notebook==7.0.8
notebook-as-pdf==0.5.0
notebook_shim==0.2.3
numba==0.59.0
numcodecs==0.13.0
numpy==2.2.6
oauth2client==4.1.3
oauthlib==3.2.2
ome-types==0.5.1.post1
opencv-contrib-python==4.7.0.72
opencv-python==4.7.0.72
opencv-python-headless==4.10.0.84
openslide-python==1.3.1
opentelemetry-api==1.33.0
opentelemetry-sdk==1.33.0
opentelemetry-semantic-conventions==0.54b0
opt-einsum==3.3.0
orjson==3.10.7
outcome==1.3.0.post0
overrides==7.7.0
packaging==25.0
palettable==3.3.3
pandas==2.2.3
pandoc==2.3
pandocfilters==1.5.1
parso==0.8.3
partd==1.4.2
patsy==0.5.6
phik==0.12.4
pickleshare==0.7.5
pillow==10.4.0
pillow-jpls==1.3.2
pillow-jxl-plugin==1.2.6
pillow_heif==0.18.0
platformdirs==4.2.0
playwright==1.44.0
plumbum==1.8.3
ply==3.11
preshed==3.0.9
prometheus-client==0.19.0
promise==2.3
prompt-toolkit==3.0.38
protobuf==3.20.3
psutil==5.9.4
pure-eval==0.2.2
pyaml==23.12.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.26.0
pycparser==2.21
pydantic==2.8.2
pydantic-compat==0.1.2
pydantic-settings==2.5.2
pydantic_core==2.20.1
pydeck==0.9.1
pydicom==2.4.4
pydub==0.25.1
pyee==11.1.0
pyFirmata==1.1.0
pygls==1.3.1
Pygments==2.15.1
PyInputPlus==0.2.12
pynndescent==0.5.11
pyparsing==3.0.9
PyPDF2==3.0.1
pyppeteer==2.0.0
pyproj==3.6.1
pyserial==3.5
PySimpleValidate==0.2.12
PySocks==1.7.1
python-dateutil==2.8.2
python-igraph==0.11.5
python-json-logger==2.0.7
python-multipart==0.0.20
pytorch-lightning==1.0.8
pytz==2022.7.1
pyvips==2.2.3
PyWavelets==1.7.0
pywin32==306
pywinpty==2.0.12
PyYAML==6.0
pyzmq==24.0.1
rasterio==1.3.10
ratelimiter==1.2.0.post0
rawpy==0.21.0
redis==5.0.1
referencing==0.33.0
regex==2023.12.25
requests==2.32.3
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
resnet==0.1
resource-backed-dask-array==0.1.0
retrying==1.3.4
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rio-cogeo==5.3.4
rpds-py==0.17.1
rsa==4.9
ruff==0.12.0
safehttpx==0.1.6
safetensors==0.4.4
scikit-image==0.23.2
scikit-learn==1.7.1
scikit-optimize==0.10.1
scikit-surprise==1.1.3
scipy==1.15.3
seaborn==0.13.2
selenium==4.24.0
semantic-version==2.10.0
Send2Trash==1.8.2
shapely==2.0.6
shellingham==1.5.4
simplejpeg==1.7.4
six==1.16.0
smart-open==7.0.4
smmap==5.0.1
sniffio==1.3.0
snowballstemmer==2.2.0
snuggs==1.4.7
sortedcontainers==2.4.0
sounddevice==0.4.6
soundfile==0.12.1
soupsieve==2.5
spacy==3.8.2
spacy-legacy==3.0.12
spacy-loggers==1.0.5
spektral==1.3.1
Sphinx==7.0.1
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
spotipy==2.23.0
SQLAlchemy==2.0.32
sqlparse==0.5.3
srsly==2.4.8
stack-data==0.6.2
starlette==0.46.2
statsmodels==0.14.2
stdiomask==0.0.6
subprocess.run==0.0.8
surprise==0.1
sympy==1.14.0
tblib==3.0.0
tenacity==8.5.0
tensorboard-data-server==0.7.0
tensorboard-plugin-wit==1.8.1
termcolor==2.2.0
terminado==0.18.0
texttable==1.7.0
thinc==8.3.2
threadpoolctl==3.6.0
tifffile==2024.5.22
tiktoken==0.7.0
tinycss2==1.2.1
toml==0.10.2
tomli==2.0.1
tomlkit==0.13.3
toolz==0.12.1
torch==2.7.1
torch_geometric==2.5.3
torchmetrics==0.11.3
torchstain==1.3.0
torchsummary==1.5.1
torchvision==0.22.1
tornado==6.4
tqdm==4.66.6
traitlets==5.9.0
trio==0.26.2
trio-websocket==0.11.1
tsfel==0.1.5
typeguard==4.3.0
typer==0.12.5
types-python-dateutil==2.8.19.20240106
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2024.1
ucimlrepo==0.0.3
umap-learn==0.5.5
universal_pathlib==0.2.3
uri-template==1.3.0
uvicorn==0.34.2
virtualenv==20.28.0
visions==0.7.6
waitress==3.0.2
wasabi==1.1.3
watchdog==4.0.2
wcwidth==0.2.6
weasel==0.4.1
webcolors==1.13
webencodings==0.5.1
websocket-client==1.8.0
websockets==10.4
Werkzeug==3.1.3
wfdb==4.1.1
widgetsnbextension==4.0.13
wordcloud==1.9.3
wrapt==1.14.1
wsidicom==0.20.5
wsproto==1.2.0
xsdata==24.3.1
xxhash==3.5.0
ydata-profiling==4.9.0
zarr==2.18.2
zict==3.0.0
zipp==3.15.0